body {
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


form * {
    margin: 10px 0;
    height: 20px;
}

.large-box { 
   padding: 5px;
   box-sizing: border-box;
   width:300px;
   height:150px;
   text-align: left;
}

