* {
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
    color:#17252a; 
}

body {
    background-color: #90d7f4;
}

div.banner {
    height:300px;
    width:100%;
    background-image: url(Images/gdj-paws-8899962_1920.png);
    background-size:contain;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.title {
    font-style:italic;
    font-weight: bold;
    color: #17252a;
    font-size:xx-large;
    
}

main {
    background-image: url(https://img.magnific.com/free-vector/eye-catching-cute-footprint-pattern-background-design_1017-49663.jpg?semt=ais_hybrid&w=740&q=80);
    gap:100px;
}

header ul, body ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:flex;
    justify-content:center;
}

.navbar {
    font-size: large;

}

.product-container {
    display:flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}

.seperator {
    border: none;
    height: 600px;
    background-color: #17252a;
    width: 100%;
    margin:0 0;
}

hr {
    border: none;
    height:2px;
    margin: 10px 0;
    background-color: black;
}

.product {
    padding:30px;
    margin:50px;
    text-align: center;
    width: calc((100% / 3) -10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    flex: 0 1 48%;
    max-width: 500px;
    background-color: #86d1ee;
}

    
#product2 img {
    width:100%;
    height:490px;
    object-fit: cover;
}


#product3 img {
    width:100%;
    height: 334px;
    object-fit: cover;
}

div.scroll-container1 {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    height:auto;
    max-width:250px;
    margin:auto;
    object-fit: cover;
    display:flex;
    gap:20px;
}

.product img {
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
}

ul li {
    float:left;
}

ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #def2f1;
    border: 2px;
    border-radius:8px;
    padding:8px;
}

.bottom-bar {
    list-style-type: none; 
    margin: 0;
    padding:0;
    overflow: hidden; 
    color:aliceblue;
    display:flex;
    justify-content:center;
    padding:5px;
    background-color: #90d7f4;
 }

 footer {
    text-align: center;
 }
 